.form {
  display: flex;
  flex-direction: column;

  &__label {
    position: relative;
    width: 100%;
  }


  &__input {
    margin-bottom: 20px;
    padding: 15px 23px;
    width: 100%;
    border: 1px solid transparent;
    background-color: $mercury-color;
    color: $mine-shaft-color;
    transition: border 0.3s ease-in-out;

    &::placeholder {
      color: $dusty-gray;
      transition: color 0.3s ease-in-out;
    }

    @include input-states;
  }

  &__textarea {
    margin-bottom: 20px;
    padding: 15px 23px;
    width: 100%;
    min-height: 150px;
    border: 1px solid transparent;
    background-color: $mercury-color;
    resize: none;
    transition: border 0.3s ease-in-out;

    &::placeholder {
      color: $dusty-gray;
      transition: color 0.3s ease-in-out;
    }

    @include input-states;
    
  }

  &__btn {
    align-self: flex-start;
  }

}

.js-validate-error-field {
  border-color: #f06666 !important;
}

.js-validate-error-label {
  position: absolute;
  left: 23px;
  top: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #f06666 !important;
}