@mixin burger {
    position: relative;
    border: none;
    padding: 0;
    width: 20px;
    height: 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
  
    &::before {
      top: 0;
      width: 100%;
    }
  
    &::after {
      top: calc(100% - 2px);
      width: 50%;
    }
  
    &__line {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: $accent-color;
    }

    &:focus-visible {
      background-color: $focus-color;
    }


    &:active {
      color: $active-color;
    }
  
    &--active {
      &::before {
        top: 50%;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }
  
      &::after {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
  
      .burger__line {
        top: 50%;
        transform: rotate(-45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }
    }
  }