@media (max-width: 994px) {
  .mini-tablet-hidden {
    display: none;
  }

  .mini-tablet-visible {
    display: block;
  }

  .hide {
    display: none;
  }

  .header {
    &__nav {
      margin: 0 auto;
    }

    &__wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__phone {
      padding-right: 50px;
    }

    .search-form {
      position: static;

      &__open {
        display: none;
        max-width: 343px;
        width: 100%;

        &.active {
          display: block;
        }
      }

      &__input {
        width: 100%;

        &::placeholder {
          font-size: 14px;
        }
      }

      &__btn {
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        svg {
          width: 30px;
          height: 30px;
        }
      }

      &__close-btn {
        @include close-button(23px, 14px);

        &:hover {
          background-color: $mine-shaft-color;
        }
      }
    }
  }

  .promo {
    &__container {
      grid-template-rows: 500px;
    }

    &__photoshoot {
      margin-top: 0;
    }

    &__photos {
      grid-template-rows: 315px 156px;

      &-title {
        margin-bottom: 15px;
      }

      &-photo {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .studio {
    padding-bottom: 50px;
    &__subscribe {
      grid-template-rows: 569px 158px;
    }
  }

  .services {
    &__wrapper {
      grid-template-columns: 1fr;
    }

    &-promo__block {
      max-height: 336px;
      max-width:714px;
      min-height: auto;
      height: 100%;
      width: 100%;
      top: 64%;
      left: 50%;
      right: 0;
      transform: translateX(-50%);
      background: url('../img/promo-992.jpg') center/cover no-repeat;

      &.change-position {
        top: 69%;
      }
    }

    &__items {
      margin-bottom: 22px;
      &-inside {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,332px);
        grid-auto-rows: minmax(332px,auto);
        gap: 29px;
      }

      &-two {
        &-inside {
          grid-template-rows: repeat(5,260px);
          grid-auto-rows: minmax(234px,auto);
          row-gap: 22px;
          column-gap: 30px;
        }
      }
    }

    &__item {
      grid-template-columns: 1fr;
      grid-template-rows: 184px minmax(127px, auto);
      gap: 14px;
      picture {
        overflow: hidden;
      }

      &-two {
        grid-template-rows: 168px 88px;
        grid-auto-rows: minmax(80px,auto);
        row-gap: 10px;
      }
    }

    &-works {
      padding-top: 400px;
      &__inside {
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(3,70px);
      }
    }

  }

  .master-class {
    &__item {
      grid-template-columns: 94px 1fr;
      column-gap: 18px;
    }

    &-tape {
      padding-top: 0;
    }

    &__descr {
      margin-bottom: 10px;
    }
  }

  .contacts {
    padding-bottom: 40px;
    &__wrapper {
      grid-template-rows: 460px 445px;
      gap: 24px;
    }
    &__map {
      grid-column: 1/9;
    }

    &__application {
      grid-column: 1/6;
      grid-row: 2;
    }

    .map {
      .tablet {
        &-hidden {
          display: block;
        }

        &-visible {
          display: none;
        }
      }

      &__text {
        max-width: 100%;
      }
    }
  }


}