@media (max-width: 1350px) {
  .header {
    &__logo {
      margin-right: auto;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 33px;
      }
    }
  }

  .promo {
    &__container {
      grid-template-columns: 466px 218px 218px;
      grid-template-rows: minmax(616px,auto);
      grid-auto-rows: minmax(616px,auto);
      justify-content: unset;
    }

    &__photos {
      grid-template-columns: 218px 218px;
      grid-template-rows: 372px 186px;
      grid-auto-rows: minmax(186px,auto);
      gap: 30px;
    }
  }

}