.services {
  padding-bottom: 39px;

  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: 9px;
  }

  &-tabs {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    max-width: 410px;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 4px;
      background-color: $bleak-grey-color;
    }

    &__btn {
      position: relative;
      padding: 5px;
      color: #666666;
      border: transparent;
      background-color: transparent;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:first-child {
        &::after {
          transform: translateX(150%);
        }
      }

      &:hover {
        color: $accent-color;
      }
      &:focus-visible {
        background-color: $romantic-focus-color;
      }
      &:active {
        color: $accent-color;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 4px;
        transform: translateX(-200%);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.33s ease-in-out;
      }

      &-active {
        color: $accent-color;

        &::after {
          transform: translateX(0);
          opacity: 1;
          background-color: $accent-color;
          z-index: 5;
        }

        &:first-child {
          &::after {
            transform: translateX(0);
          }
        }
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 849px 410px; 
    grid-template-rows: 800px;
    gap: 33px;
  }

  &__items {
    display: none;

    &-inside {
      display: grid;
      grid-template-columns: 818px;
      grid-template-rows: repeat(5, 140px);
      grid-auto-rows: minmax(140px, auto);
      gap: 25px;
      transform: translateX(-30%);
      filter: blur(15px);
      opacity: 0;
      transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out, filter 1s ease-in-out;

      &-active {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
      }
    }

    &-two {
      &-inside {
        grid-template-columns: repeat(2, 410px);
        grid-template-rows: repeat(5, 140px);
        grid-auto-rows: minmax(140px, auto);
        column-gap: 30px;
        row-gap: 20px;
      }
    }

    &-active {
      display: block;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 300px 518px;
    grid-template-rows: 140px;
    grid-auto-rows: minmax(140px, auto);
    gap: 30px;

    &-two {
      display: grid;
      grid-template-columns: 190px 192px;
      grid-template-rows: 140px;
      grid-auto-rows: minmax(140px, auto);
      column-gap: 28px;
    }
  }

  &__content {
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__sub-title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: $mine-shaft-color;

    &-link {
      padding: 5px;
      padding-left: 0;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      &:hover {
        color: $accent-color;
      }
      &:focus-visible {
        background-color: $romantic-focus-color;
      }
      &:active {
        color: $active-color;
      }
    }
  }

  &__descr {
    margin-bottom: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $dusty-gray;
  }

  &__link {
    position: relative;
    padding-right: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: $accent-color;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, padding 0.33s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      width: 19px;
      height: 2px;
      top: 50%;
      right: 0;
      background-color: $accent-color;
      transition: width 0.3s ease-in-out, right 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      top: 40%;
      right: 0;
      border-right: 2px solid $accent-color;
      border-top: 2px solid $accent-color;
      transform: rotate(45deg);
      transition: top 0.3s ease-in-out, right 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }

    &:hover {
      padding-right: 33px;
      &:before {
        width: 27px;
      }
    }

    &:focus-visible {
      padding: 5px;
      padding-right: 40px;
      background-color: $romantic-focus-color;
      &:before {
        width: 27px;
        right: 4px;
      }
      &::after{
        top: 41%;
        right: 4px;
      }
    }

    &:active {
      color: $active-color;
      &::before {
        background-color: $active-color;
      }
      &::after {
        border-color: $active-color;
      }
    }
  }

  &-promo {
    &__block {
      position: absolute;
      top: 10px;
      right: 19px;
      min-height: 490px;
      padding-top: 20px;
      padding-left: 30px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      background-image: url('../img/promo.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__text {
      display: inline-block;
      margin-bottom: 9px;
      max-width: 60%;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $color-light;
    }
  }

  &-works {
    align-self: flex-end;

    &__title {
      margin-bottom: 12px;
    }

    &__wrapper {
      display: none;

      &-active {
        display: block;
      }
    }
    &__inside {
      display: grid;
      grid-template-columns: repeat(4, 80px);
      grid-template-rows: repeat(4, 60px);
      grid-auto-rows: minmax(60px, auto);
      gap: 30px;
      transform: translateX(30%);
      filter: grayscale(100%);
      opacity: 0;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, filter 1s ease-in-out;

      &-active {
        transform: translateX(0);
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}