input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-form {
  position: relative;
}

.search-form__input {
  display: block;
  width: 99%;
  margin-top: -9px;
  margin-right: -22px;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #fff;
  transition: border 0.3s ease-in-out;
  outline: none;

  &::placeholder {
    padding-top: -12px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
  }

  &:hover {
    border-bottom: 1px solid #ff6e30;
  }

  &:focus-visible {
    border-bottom: 1px solid #bc572b;
  }

  &:active {
    border-bottom: 1px solid #ce4307;
  }
}

.search-form__btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: 158px;
  padding: 12px 12px;
  overflow: visible;
  transition: 0.3s;

  svg path {
    transition: fill 0.3s ease-in-out;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    svg path {
      fill:#ff6e30;
    }
  }

  &:active {
    svg path {
      fill: #ce4307;
    }
  }

}